.header {
    background-color: #242424;
    width: 100%;
    box-shadow: 0 2px 5px rgba(233, 230, 230, 0.699);
  }
  
  .nav {
    padding: 1rem 2rem;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
  }
  
  .nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  .toggle-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.4rem 0.8rem;
    border-radius: 20px 5px 20px 5px; /* wedge-style rounded corners */
    position: relative;
    z-index: 1;
  }
  
  .nav-link:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.967); /* semi-transparent white */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-shadow:
      -1px -1px 0 white,  
       1px -1px 0 white,
      -1px  1px 0 white,
       1px  1px 0 white;
  }
 
  .nav-logo:hover {
    color: black;
    text-shadow:
      -1px -1px 0 white,  
       1px -1px 0 white,
      -1px  1px 0 white,
       1px  1px 0 white;
    background-color: rgba(255, 255, 255, 0.967); /* semi-transparent white */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); /* Safari support */
  }
  .nav-link.disabled {
    color: whitesmoke;
    pointer-events: none;
    cursor: not-allowed;
  }
  