# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.log
*.pot
*.py[cod]
*.so
.env
*.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env/

# VSCode or PyCharm settings
.vscode/
.idea/

# macOS and system junk
.DS_Store
Thumbs.db

# IPython
profile_default/
ipython_config.py